[Unit]
Description=Telegram @ACITBot
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutSec=11
WorkingDirectory=/srv/docker/acitbot/
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop
# let docker-compose up finish gracefully thus flush all logs
ExecStop=/bin/sleep 1

[Install]
WantedBy=multi-user.target
